# training dataset
sents.train

# testing dataset
sents.test

# actual answers
sents.answer

# attempt, test, train and example files 
*.train
*.answer
*.out
*.test

# other binaries and ide files 
.vscode/
.idea/
.DS_Store

# other files (neel)
buildtagger-neel.py
runtagger-neel.py

# text files
*.txt

# pt files
*.pt